.o_kanban_view.o_kanban_ungrouped .o_kanban_records{
	width : 200px;
	height : 90px;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #337ab7;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.thumb:hover .test{ 
    display: block;
    width:100px; height:100px;
    /*top:20px; left:0px; */
}

.thumb:hover {
    border:0; /* IE6 needs this to show large image */
    /*z-index:1;*/
}
.thumb {
    float:right;
}
.thumb .test{ 
    position: absolute;
    display: none;
    margin-top: -30px;
    margin-left: 10px;
    padding: 5px;
}

.o_form_view .o_horizontal_separator {
    font-size: initial;
    margin: 5px 0;
}


.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.disabled {
    opacity: 1.0;
    color: #AEA79F;
    border-left: 1px solid #E5E5E5;
    font-size: 7px;
}

.fc-unthemed .fc-today {
    background: #ffffff !important;
}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-active {
    background: none;
    background-color: rgba(0, 0, 0, 0);
    background-color: #f9f9f9;
    color: #337ab7;}


.h3color{
    color:#337ab7;
}



.canvas
{
    background-color: #ffffff;
}
.o_content {
    background-color: white;
}

.i .fa .fa-2x .fa-file-pdf-o {
    color: red;
}
.hr_dash .col-xs-12 .col-md-12 .col-lg-12 .col-sm-8 {
    width: 90%;
}

.dp {
    border:10px solid #eee;
    transition: all 0.2s ease-in-out;
}
.dp:hover {
    border:2px solid #eee;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}

.dashboard-block {
    position: relative;
    display: block;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.2);
    opacity:0.9;
    overflow: hidden;
    margin-bottom:5px;
}
.dashboard-block .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}
.dashboard-block .rotate i {
    position: absolute;
    left: 0;
    left: auto;
    right: 0;
    bottom: 0;
    display: block;
    height: 65px;
    font-size: 75px;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
    text-shadow:1px 0 #ddd;
}

.dashboard-block .more {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.25);
    text-shadow: none;
}
.dashboard-block .details {
    position: relative;
    z-index: 10;
    float: left;
    margin-top: -10px;
    text-align: left;
}
.dashboard-block .title {
    display: block;
    margin-bottom: 1em;
    font-size: 13px;
    text-transform: uppercase;
}
.dashboard-block .sub {
    display: block;
    font-size: 32px;
}
.dashboard-block:before {
    content:'';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 42px;
    background: rgba(255,255,255,0.3);
    border-radius: 0px;
    transition: all 2s ease;
}
.dashboard-block:hover:before {
    width: 100%;
}

.dash-box {
    position: relative;
    background: rgb(255, 86, 65);
    background: -moz-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    border-radius: 4px;
    text-align: center;
    margin: 40px 0 0px;
    height:80px;
}
.dash-box-icon {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}
.dash-box-action {
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    left: 50%;
}
.dash-box-body {
    padding: 35px 10px;
}
.dash-box-icon:after {
    width: 60px;
    height: 60px;
    position: absolute;
    background: rgba(247, 148, 137, 0.91);
    content: '';
    border-radius: 50%;
    left: -10px;
    top: -10px;
    z-index: -1;
}
.dash-box-icon > i {
    background: #ff5444;
    border-radius: 50%;
    line-height: 40px;
    color: #FFF;
    width: 40px;
    height: 40px;
    font-size:20px;
}
.dash-box-icon:before {
    width: 75px;
    height: 75px;
    position: absolute;
    background: rgba(253, 162, 153, 0.34);
    content: '';
    border-radius: 50%;
    left: -17px;
    top: -17px;
    z-index: -2;
}
.dash-box-action > button {
    border: none;
    background: #FFF;
    border-radius: 19px;
    padding: 7px 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: .5px;
    color: #003e85;
    box-shadow: 0 3px 5px #d4d4d4;
}
.dash-box-body > .dash-box-count {
    display: block;
    font-size: 15px;
    color: #FFF;
    font-weight: 300;
}
.dash-box-body > .dash-box-title {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.81);
}

.dash-box.dash-box-color-2 {
    background: fb9f28;
    background: -moz-linear-gradient(top, #fb9f28 1%, #fb9f28 99%);
    background: -webkit-linear-gradient(top, #fb9f28 1%, #fb9f28 99%);
    background: linear-gradient(to bottom, #fb9f28 1%, #fb9f28 99%);
    border-radius: 4px;
    text-align: center;
    height:80px;
   
}
.dash-box-color-2 .dash-box-icon:after {
    background: rgba(254, 224, 54, 0.81);
}
.dash-box-color-2 .dash-box-icon:before {
    background: rgba(254, 224, 54, 0.64);
}
.dash-box-color-2 .dash-box-icon > i {
    background: #fb9f28;
}

.dash-box.dash-box-color-3 {
    background: 8150e4;
    background: -moz-linear-gradient(top, rgba(108,83,220,1) 0%, rgba(108,83,220,1) 100%);
    background: -webkit-linear-gradient(top, rgba(108,83,220,1) 0%,rgba(108,83,220,1) 100%);
    background: linear-gradient(to bottom, rgba(108,83,220,1) 0%,rgba(108,83,220,1) 100%);
    border-radius: 4px;
    text-align: center;
    height:80px;
}
.dash-box-color-3 .dash-box-icon:after {
    background: rgba(180, 70, 245, 0.76);
}
.dash-box-color-3 .dash-box-icon:before {
    background: rgba(226, 132, 255, 0.66);
}
.dash-box-color-3 .dash-box-icon > i {
    background: #8150e4;
}
.dash-box.dash-box-color-4 {
    background: 66b913;
    background: -moz-linear-gradient(top, rgba(99,182,22,1) 32%, rgba(99,182,22,1) 34%, rgba(99,182,22,1) 79%, rgba(99,182,22,1) 99%);
    background: -webkit-linear-gradient(top, rgba(99,182,22,1) 32%, rgba(99,182,22,1) 34%, rgba(99,182,22,1) 79%, rgba(99,182,22,1) 99%);
    background: linear-gradient(to bottom, rgba(99,182,22,1) 32%, rgba(99,182,22,1) 34%, rgba(99,182,22,1) 79%, rgba(99,182,22,1) 99%);
    border-radius: 4px;
    text-align: center;
    margin: 40px 0 1px;
    height:330px;
}
.dash-box-color-4 .dash-box-icon:after {
    background: rgba(165, 214, 49, 0.76);
}
.dash-box-color-4 .dash-box-icon:before {
    background: rgba(166, 208, 66, 0.66);
}
.dash-box-color-4 .dash-box-icon > i {
    background: #66b913;
}
.dash-box.dash-box-color-5 {
    background: #8150e4; 
    height:80px;
}
.dash-box-color-5 .dash-box-icon:after {
    background: rgba(180, 70, 245, 0.76);
}
.dash-box-color-5 .dash-box-icon:before {
    background: rgba(226, 132, 255, 0.66);
}
.dash-box-color-5 .dash-box-icon .i {
    background: #8150e4;
}
.dash-box.dash-box-color-6 {
    background: #0e4e75;   
    background: -webkit-linear-gradient(to left, #0e4e75, #0e4e75, #0e4e75); 
    border-radius: 4px;
    text-align: center;
    margin: 40px 0 50px;
    height:80px;
}
.dash-box-color-6 .dash-box-icon:after {
    background: rgba(23, 105, 155, 0.66);
}
.dash-box-color-6 .dash-box-icon:before {
    background: rgba(22, 102, 151, 0.76);
}
.dash-box-color-6 .dash-box-icon .i {
    background: #0e4e75;
}


.test:nth-child(2)  {
    display:none;
}

.o_list_view.table thead, .o_list_view.table tfoot, .o_list_view.table td, .o_list_view.table th {
    border: 1px solid #fff !important;
}


.o_kanban_record{
    border:white !important;
    width:100%;
}

.row{
    width:100%;
}